.contenedorPrincipal{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    background-color: #efefef;
    border-radius: 4vw;
    width: 30vw;
    height: 30vw;
    box-shadow: 0vw 2vw 2vw  #949494;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circuloAzul{
    background-color: #2692ec ;
    border-radius: 50%;
    border: 1px dashed white ;
    width: 25vw;
    height: 25vw;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.manija{
    border-radius: 50%;
    width: 23vw;
    height: 23vw;
    transform: rotate(60deg);
    overflow: hidden;
}
.manija1{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 2vw;
    height: 11vw;
    margin-left: 10vw;
    background-color: red;
    
}
.manija2{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 2vw;
    height: 12vw;
    margin-left: 10vw;
    background-color: white;
}
.manija:hover{
    animation-name: manijas;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes manijas {
    30%{transform: rotate(20deg);}
    100%{transform: rotate(420deg);}
}