@font-face {
    font-family: letra;
    src: url(fonts/Utsaah\ Regular.ttf);
}
body{
    background-color: #f6e5c8;
}
.contenedorPrincipal{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.contenedorBlanco{
    margin-top: 10vw;
    background-color: white;
    width: 33vw;
    height: 18vw;
    animation: 6s;
    animation-name: blanco;
    font-family: letra;
}
.img{
    border-radius: 59%;
    width: 7vw;
    height: auto;
    margin-top: -2.5vw;
}
.texto1{
    color: #d3626c;
    font-size: 2.6vw;
    margin-top: 0.5vw;
}
.texto2{
    font-size: 1.5vw;
    color: black;
    margin-top: -2vw;
}
.texto3{
    font-size: 1.7vw;
    color: white;
    margin-top: 0.6vw;
}
.boton{
    margin-top: 2vw;
    width: 33vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.boton2{
    justify-content: center;
    border-radius: 0.5vw;
    width: 15vw;
    height: 3vw;
    background-color: #188d9f;
 }
.boton2:hover{
    background-color: red;
}
@keyframes blanco {
    0%{margin-top: 60vw;}
    20%{transform: translateY(0px);margin-top: 10vw; }
    30%{transform: translateY(100px); }
    40%{transform: translateY(0px);}
    50%{transform: translateY(20px);}
    60%{transform: translateY(0px);}
}