.contenedor{
    padding: 1vw;
    width: 100vw;
    height: 25vw;
    display: flex;
    justify-content: center;
}

.img{
    width: 30vw;
    height: 36vw;
    animation: muñeco 1s infinite;
}

@keyframes muñeco {
    0%{ background-image: url(img/Frame1.jpg); background-repeat: no-repeat;}
    11%{ background-image: url(img/Frame2.jpg);background-repeat: no-repeat;}
    22%{background-image: url(img/Frame3.jpg);background-repeat: no-repeat;}
    33%{ background-image: url(img/Frame4.jpg);background-repeat: no-repeat;}
    44%{ background-image: url(img/Frame5.jpg);background-repeat: no-repeat;}
    55%{background-image: url(img/Frame6.jpg);background-repeat: no-repeat;}
    66%{ background-image: url(img/Frame7.jpg);background-repeat: no-repeat;}
    77%{ background-image: url(img/Frame8.jpg);background-repeat: no-repeat;}
    88%{background-image: url(img/Frame9.jpg); background-repeat: no-repeat;}
    100%{ background-image: url(img/Frame10.jpg);background-repeat: no-repeat;}
}
