.contenedor{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
}
.img{
    width: 30vw;
    height: 36vw;
    animation: muñeco 1s infinite;
}

@keyframes muñeco {
    0%{ background-image: url(img/Frame1.jpg);}
    11%{ background-image: url(img/Frame2.jpg);}
    22%{background-image: url(img/Frame3.jpg);}
    33%{ background-image: url(img/Frame4.jpg);}
    44%{ background-image: url(img/Frame5.jpg);}
    55%{background-image: url(img/Frame6.jpg);}
    66%{ background-image: url(img/Frame7.jpg);}
    77%{ background-image: url(img/Frame8.jpg);}
    88%{background-image: url(img/Frame9.jpg);}
    100%{ background-image: url(img/Frame10.jpg);}
}
