
body{
    background-color: #2d333a;
}
.letras{
    display: flex;
    justify-content: center;
    font-size: 4vw;
}
.letra1{
    color: #7cc3bb;
    animation: 5s;
    animation-name: letras;
    animation-delay: 1s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra2{
    color: #91b7c7;
    animation: 5.2s;
    animation-name: letras;
    animation-delay: 1.3s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra3{
    color: #7cc3bb;
    animation: 5.4s;
    animation-name: letras;
    animation-delay: 1.5s;
    transform: rotatex(180deg);
    margin-left: 1vw;
    margin-right: 1vw;
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra4{
    color: #91b7c7;
    animation: 5.8s;
    animation-name: letras;
    animation-delay: 1.8s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra5{
    color: #7cc3bb;
    animation: 6s;
    animation-name: letras;
    animation-delay: 2.1s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra6{
    color: #91b7c7;
    animation: 6.2s;
    animation-name: letras;
    animation-delay: 2.4s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
.letra7{
    color: #7cc3bb;
    animation: 6.4s;
    animation-name: letras;
    animation-delay: 2.7s;
    transform: rotatex(180deg);
    font-family: 'Alfa Slab One', cursive;
    height: 11vw;

}
@keyframes letras{
    0%{transform: rotatex(90deg); }
    50%{transform: rotateX(0deg);}
    100%{transform: rotatex(180deg);}
}
