body{
    background-color: red;
}

.contenedorPrincipal{
    margin: 10vw auto;
    width: 40vw;
    height: 30vw;
    background-color: aliceblue;
}
.contenedorPrincipal input{
    display: none;
}
.contenedorPrincipal div{
    margin-top: 1vw;
    width: 40vw;
    height: 4vw;
    background-color: white;
    overflow: hidden;
    transition-duration: 1s;
}
