
body{
    background-color: #2d333a;
}
@font-face {
    font-family: letra;
    src: url(fonts/);
}
.letras{
    display: flex;
    justify-content: center;
    font-family: letra;
    font-size: 6rem;
}
.letra1{
    color: #82c2b8;
    animation: 4s;
    animation-name: letra1;
    animation-delay: 1s;
    transform: rotatex(88.7deg);
}
.letra2{
    color: #99b0b9;
    animation: 3s;
    animation-name: letra2;
    animation-delay: 1.5s;
    transform: rotatex(88.7deg);
}
.letra3{
    color: #80acac;
    animation: 3s;
    animation-name: letra3;
    animation-delay: 2s;
    transform: rotatex(88.7deg);
    margin-left: 1vw;
    margin-right: 1vw;
}
.letra4{
    color: #99b0b9;
    animation: 3s;
    animation-name: letra4;
    animation-delay: 2.5s;
    transform: rotatex(88.7deg);
    
}
.letra5{
    color: #80acac;
    animation: 3s;
    animation-name: letra5;
    animation-delay: 3s;
    transform: rotatex(88.7deg);
    
}
.letra6{
    color: #99b0b9;
    animation: 3s;
    animation-name: letra6;
    animation-delay: 3.5s;
    transform: rotatex(88.7deg);
    
}
.letra7{
    color: #80acac;
    animation: 4s;
    animation-name: letra7;
    animation-delay: 1s;
    transform: rotatex(88.7deg);
    
}
@keyframes letra1{
    40%{transform: rotatex(0deg); }
    100%{transform: rotatex(180deg);}
}
@keyframes letra2{
    40%{transform: rotatex(0deg); }
    100%{transform: rotatex(180deg);}
}
@keyframes letra3{
    40%{transform: rotatex(0deg); }
    100%{transform: rotatex(180deg);}
}
@keyframes letra4{
    40%{transform: rotatex(0deg); }
    100%{transform: rotatex(180deg);}
}
@keyframes letra5{
    40%{transform: rotatex(0deg); }
    100%{transform: rotatex(180deg);}
}